# Supabase Configuration
SUPABASE_URL=https://rufmhvuruxhavcwurwtw.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ1Zm1odnVydXhoYXZjd3Vyd3R3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg4NzUxODcsImV4cCI6MjA5NDQ1MTE4N30.T4kZWx2U4BWzc0FMcZoNlqnrZWPiCYapjRYvxzrbXEk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ1Zm1odnVydXhoYXZjd3Vyd3R3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODg3NTE4NywiZXhwIjoyMDk0NDUxMTg3fQ.pJVebIQt3shqn0Sr7e0tG6DEe9OuMQcvjmVTCqX5gTU

# JWT Configuration
JWT_SECRET=ef1upHVXfkVWO5gIuFmq5ceQcarSE63EI9f8PrjJ2v53sHCT/vcciwfzE8aQx7vA62cX9I+rwYkpyLXJ8+cy5w==